<%- include blog %>
<div id="maincon">
    <nav id="navindex">
        <div>
            <ul class="ul-left">
                <li><a   href="/">主页</a></li>
                <li><a   href="/archive"  style="color:#e15782">存档</a></li>
                <li><a   href="/tags">标签</a></li>
                <% if(!user){ %>
            </ul>
            <ul class="ul-right">
                <li><a  class="tag-button"  href="/login">登录</a></li>
                <li><a  class="tag-button" href="/reg">注册</a></li>
            </ul>
            <% }else{ %>
            <li><a   href="/post">发表</a></li>
            <!--<li><a   href="/upload">上传</a></li>-->
            </ul>
            <ul class="ul-right">
                <% if(name) { %>
                <li id="username"><a href="/u/<%= name %>"><%= name %></a></li>
                <% } %>
                <li ><a class="tag-button"  href="/logout">退出</a></li>
                </li>

            </ul>
            <% } %>

        </div>
    </nav>
    <div id="content">

        <% if(error){ %>
        <div><%=error %></div>
        <% } %>

<ul class="archive">
    <% var lastYear=0; %>
    <% posts.forEach(function(post,index){ %>
    <% if(lastYear !=post.time.year) { %>
    <li><h3><%= post.time.year %></h3></li>
    <% lastYear=post.time.year } %>
    <li><time><%= post.time.date %></time></li>
    <li><a href="/u/<%= post.name %>/<%= post.time.date %>/<%= post.title %>"><%= post.title %></a></li>
    <% }) %>
</ul>

<%- include footer %>