<%- include blog %>
<div id="maincon">
    <nav id="navindex">
        <div>
            <ul class="ul-left">
                <li><a   href="/">主页</a></li>
                <li><a   href="/archive">存档</a></li>
                <li><a   href="/tags">标签</a></li>
                <% if(!user){ %>
            </ul>
            <ul class="ul-right">
                <li><a  class="tag-button"  href="/login">登录</a></li>
                <li><a  class="tag-button" href="/reg">注册</a></li>
            </ul>
            <% }else{ %>
            <li><a   href="/post">发表</a></li>
            <!--<li><a   href="/upload">上传</a></li>-->
            </ul>
            <ul class="ul-right">
                <% if(name) { %>
                <li id="username"><a href="/u/<%= name %>"><%= name %></a></li>
                <% } %>
                <li ><a class="tag-button"  href="/logout">退出</a></li>
                </li>

            </ul>
            <% } %>

        </div>
    </nav>
    <div id="content">

        <% if(error){ %>
        <div><%=error %></div>
        <% } %>
<article  data-id="<%=posts._id%>">

<h3 class="posttitle"><%= posts.title %></h3>
<p class="instructions">
    <% if(user&&(user.name==posts.name)) { %>
    <span><a class="edit" href="/edit/<%= posts.name %>/<%= posts.time.date %>/<%=posts.title %>">编辑</a></span>
    <span><a class="edit" href="/remove/<%= posts.name %>/<%= posts.time.date %>/<%=posts.title %>">删除</a></span>
    <% } %>

    作者：<a href="/u/<%= posts.name %>"><%=posts.name %></a> |
    日期：<%=posts.time.minute %>|
    标签：
    <% posts.tags.forEach(function(tag,index) { %>
    <% if(tag){ %>
    <a class="tag" href="/tags/<%= tag %>"><%= tag %></a>
    <% } %>
    <% }) %>
</p>
<p><%-posts.post%></p>
    </article>
<%- include comment %>
<%- include footer %>