<br/>
<div id="comments">
<form method="post" id="postcomment">
    <% if(user){ %>
   <input type="text" name="name" value="<%=user.name %>"  /><br/>
   <input type="email" name="email" value="<%=user.email %>" /><br/>
   <input type="text" name="website" value="/u/<%=user.name %>" /><br/>
   <textarea name="content" rows="4"  ></textarea><br/>
    <input type="submit" value="留言"/>
    <% }else { %>
    <textarea  rows="5" cols="80" disabled>请先登录</textarea><br/>
    <input  type="submit" value="留言" disabled />
    <%  } %>
    

</form>

<h4>读者评论</h4>
<% if(posts.comments.length==0){ %>
    <p>暂时没有评论~~~</p><br/>
<% }else{ %>
<% posts.comments.forEach(function(comment,index) { %>
<div >
<p><a href="<%=comment.website %>"><%= comment.name %></a>
<time ><%= comment.time %></time></p>
<p><%-comment.content %></p>
    <% }) %></div>
    <% } %>
</div>
<script type="text/javascript">
(function(){
var form=document.getElementById('postcomment');
form.onsubmit=function(){
var textarea=form.getElementsByTagName('textarea')[0];

if(textarea.value.trim()==""){
    alert("输入内容不能为空！");
    return false;
}
else{
 return true;   
}

}
})()

</script>
<!--<button id="btn">点击</button>-->
<!--<script>-->
    <!--var btn=document.getElementById('btn');-->

    <!--btn.onclick= function () {-->
        <!--var xhr=new XMLHttpRequest();-->
        <!--xhr.open('POST','/ajax',true);-->
        <!--xhr.onreadystatechange=function(){-->
            <!--if(xhr.readyState==4){-->
                <!--if(xhr.status==200){-->

                    <!--alert(xhr.responseText);-->
                <!--}-->
            <!--}-->
        <!--}-->
        <!--xhr.send(null)-->
    <!--}-->
<!--</script>-->