<%- include blog %>
<div id="maincon">
    <nav id="navindex">
        <div>
            <ul class="ul-left">
                <li><a   href="/" style="color:#e15782">主页</a></li>
                <li><a   href="/archive">存档</a></li>
                <li><a   href="/tags">标签</a></li>
                <% if(!user){ %>
            </ul>
            <ul class="ul-right">
                <li><a  class="tag-button"  href="/login">登录</a></li>
                <li><a  class="tag-button" href="/reg">注册</a></li>
            </ul>
            <% }else{ %>
            <li><a   href="/post">发表</a></li>
            <!--<li><a   href="/upload">上传</a></li>-->
            </ul>
            <ul class="ul-right">
                <% if(name) { %>
                <li id="username"><a href="/u/<%= name %>"><%= name %></a></li>
                <% } %>
                <li ><a class="tag-button"  href="/logout">退出</a></li>
                </li>

            </ul>
            <% } %>

        </div>
    </nav>
    <div id="content">

        <% if(error){ %>
        <div><%=error %></div>
        <% } %>
<% posts.forEach(function(post,index){ %>
<div class="post">
<div class="user">
<img class="userlogo" src="/images/404.jpg"/>
<p class="info">
    Author：<a href="/u/<%= post.name %>"><%=post.name %></a> <br/>
    Date：<%=post.time.minute %><br/>
    Tags：
    <% post.tags.forEach(function(tag,index) { %>
    <% if(tag){ %>
    <a  href="/tags/<%= tag %>"><%= tag %></a>
    <% }else{ %>
    -<% } %>
    <% }) %>
</p>
	</div>
<div class="post_con">
	<p class="title"><span class="icon-tag"></span><a href="/u/<%= post.name %>/<%= post.time.date %>/<%=post.title %>"><%=post.title %></a></p>

<div class="summary">
 <p ><%- post.summary %></p>
	</div>
</div>
    <div class="chat"><p><span class="icon-heart-o"></span><%= post.like %></p><p><span class="icon-eye"></span><%= post.pv %></p><p><span class="icon-bubble2"></span><%= post.comments.length %></p></div>
    <span class="co1"></span>
    <span class="co2"></span>
</div>

<% }) %>
</div>
	<script>
var content=document.getElementById('content');
content.addEventListener("click",function(e){
	// console.log(e.target.className)
	// if(e.target.className=="post"){
	// 	var posts=content.getElementsByClassName('post');
	// 	posts.forEach(function(post,index){
	// 		if(post==e.target)alert("yes")
	// 	})

	// }
})
// content.addEventListener("click",function(e){
	
// })
	</script>
<%- include paging %>
<%- include foot %>