<%- include blog %>
<div id="maincon">
    <nav id="navindex">
        <div>
            <ul class="ul-left">
                <li><a   href="/">主页</a></li>
                <li><a   href="/archive">存档</a></li>
                <li><a   href="/tags"  style="color:#e15782">标签</a></li>
                <% if(!user){ %>
            </ul>
            <ul class="ul-right">
                <li><a  class="tag-button"  href="/login">登录</a></li>
                <li><a  class="tag-button" href="/reg">注册</a></li>
            </ul>
            <% }else{ %>
            <li><a   href="/post">发表</a></li>
            <!--<li><a   href="/upload">上传</a></li>-->
            </ul>
            <ul class="ul-right">
                <% if(name) { %>
                <li id="username"><a href="/u/<%= name %>"><%= name %></a></li>
                <% } %>
                <li ><a class="tag-button"  href="/logout">退出</a></li>
                </li>

            </ul>
            <% } %>

        </div>
    </nav>
    <div id="content">

        <% if(error){ %>
        <div><%=error %></div>
        <% } %>

    <div class="taglist">
    <% posts.forEach(function(tag,index){ %>
     <a class="tag" href="/tags/<%= tag %>"><%= tag %></a> 
    <% }) %>
    <span></span>
	</div>
	<script type="text/javascript">
/*var tags=document.getElementsByClassName('tag');
var i,j;
for(i=0,j=tags.length;i<j;i++){
	tags[i].setAttribute("style","top:"+i*10+"px")
}*/
(function(){
var span=document.getElementsByTagName('span')[0]

})()


	</script>
<%- include footer %>