<%- include blog %>
<div id="maincon">
    <nav id="navindex">
        <div>
            <ul class="ul-left">
                <li><a   href="/">主页</a></li>
                <li><a   href="/archive">存档</a></li>
                <li><a   href="/tags">标签</a></li>
                <% if(!user){ %>
            </ul>
            <ul class="ul-right">
                <li><a  class="tag-button"  href="/login">登录</a></li>
                <li><a  class="tag-button" href="/reg">注册</a></li>
            </ul>
            <% }else{ %>
            <li><a   href="/post">发表</a></li>
            <li><a   href="/upload"  style="color:#e15782">上传</a></li>
            </ul>
            <ul class="ul-right">
                <% if(name) { %>
                <li id="username"><a href="/u/<%= name %>"><%= name %></a></li>
                <% } %>
                <li ><a class="tag-button"  href="/logout">退出</a></li>
                </li>

            </ul>
            <% } %>

        </div>
    </nav>
    <div id="content">

        <% if(error){ %>
        <div><%=error %></div>
        <% } %>

<form method="post" action="/upload" enctype="multipart/form-data">
   <input name="file" type="file" multiple/>
    <input type="submit" value="上传">
</form>
<%- include footer %>